html,
body {
    font-family: "Noto Sans JP", sans-serif;
    border: none;
    touch-action: manipulation;
}

html {
    height: 100%;
    width: 100%;
    background-color: powderblue;
}

body {
    margin: 2% 5% 5% 5%;
    padding: 0px;
    background-color: white;
}

p,
ul,
td,
th,
button,
input {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    padding-inline-start: 0px;
}

p {
    line-height: 1.4;
}

html,
body,
input,
textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
}

textarea#linksInput {
    border-radius: 5px;
    border: 1.5px black solid;
    width: 300px;
    padding: 5px 0.7rem;
    margin: 1rem 0;
    font-family: "Noto Sans JP", sans-serif;
    resize: vertical;
    min-height: 8.5rem;
    font-size: 0.85rem;
    line-height: 1.2; /* default */
}

textarea#htmlCode {
    border-radius: 5px;
    border: 1.5px black solid;
    min-width: 600px;
    width: 60%;
    padding: 5px 0.7rem;
    margin: 1rem 0;
    font-family: "Noto Sans Mono", monospace;
    resize: both;
    min-height: 8.5rem;
    font-size: 0.85rem;
    line-height: 1.3;
}

#top {
    margin: auto;
    padding: 3%;
}

#main {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

div#inputs,
div#outputs {
    flex: 1 0 auto;
}

div#outputs {
    display: grid;
    justify-content: right;
}

.button.tool {
    font-family: "Noto Sans JP", sans-serif;
    display: inline-block;

    /* default colors */
    color: #030303;
    border: solid 1px deepskyblue;
    background: powderblue;
    font-size: 12pt;
    padding: 3px 1vw;
}

button#generateHTML {
    min-height: 2rem;
    font-size: 1rem;
    border-radius: 7px;
}

button#copyHTML {
    min-height: 2rem;
    font-size: 1rem;
    border-radius: 7px;
}

select#htmlStyle {
    font-size: 1rem;
    height: 1.8rem;
    border-radius: 7px;
    margin: 1rem 0;
}

header,
footer {
    background-color: powderblue;
    width: 100%;
}

header {
    width: 100%;
    height: 4rem;
    margin: 0;
    vertical-align: middle;
    background-color: powderblue;
    color: black;
}

header h1 {
    font-weight: 800px;
}

footer {
    padding: 20px 0 0 0;
    width: 100%;
    height: 70px;
    background-color: powderblue;
    color: white;
    text-align: center;
}

footer ul li {
    display: inline;
    font-weight: 300;
    color: black;
}

@media screen and (max-width: 880px) {
    textarea#htmlCode {
        min-width: 100px;
        width: 340px;
    }

    textarea#linksInput {
        min-width: 100px;
        width: 280px;
    }
}

@media screen and (max-width: 400px) {
    body {
        margin-top: 5%;
    }
    #main {
        flex-direction: column;
        margin-top: 0;
        width: 92%;
    }

    header {
        height: 2rem;
        padding-bottom: 1.5rem;
        text-align: center;
        align-items: center;
    }

    header h1 {
        font-size: 1.5rem;
    }

    div#outputs {
        width: 100%;
    }

    textarea#linksInput {
        min-width: auto;
        width: 100%;
    }

    textarea#htmlCode {
        min-width: auto;
        width: 100%;
    }

    button#copyHTML {
        width: 100%;
    }

    div#outputs {
        width: 100%;
        display: inline-block;
        justify-content: left;
    }
}
